/*a{
	color:green;
}
table,td{
	border: 1px solid black;
}
ul {
	list-style-type:square;
}
*/



body{
	font-size:  15px;
}

#all_of_hi{
			width:500px;
			margin:auto;
		}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	border-radius: 30px;
	margin-top: 30px;

}
ul{
	font-weight: bold;
}
.list_title{
	display: none;
	list-style: none;
	font-size: 15px;

}
p{
	padding: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}
.footer{
	position :fixed;
	left :0;
	bottom: 0;
	width:100%;
	text-align:center;
	background-color: black;
	color:white;
}